html {
    cursor: url("") default;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
}

a:hover {
    cursor: url("") default;
}
.bg {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgb(8, 3, 3) 100%),url("/img/bg/BGstars.gif");
    background-attachment: fixed;
    display: block;
    font-family: MS PGothic;
    text-align: center;
}

.scroll_d {
    animation: diag 60s linear infinite;
}

@keyframes diag {
    0% {
      background-position-x: 100%;
      background-position-y: 0%;
    }
    100% {
      background-position-x: 0%;
      background-position-y: 100%;
    }
}

#container {
    max-width: 1000px;
    margin: auto;
}

#flex {
    display: flex;
    width: 100%;
}

#topname {
    height: 200px;
    width: 100%;
    background-size: 100%;
}


#marq {
    margin-top: 15px;
    border: 2px solid #535355;
    border-radius: 5px;
    background-color: #08031A;
    padding: 20px;
    height: 25px;
}

#main {
    margin-top: 15px;
    border: 2px solid #535355;
    border-radius: 5px;
    background-color: #08031A;
    flex: 1;
    padding: 20px;
    height: 1000px;
}

#left {
    width: 50%;
    flex: 1;
    border: 2px solid #535355;
    border-radius: 5px;
}

#center {
    width: 50%;
    flex: 1;
    border: 2px solid #535355;
    border-radius: 5px;
}

#footer {
    margin-top: 15px;
    border: 2px solid #535355;
    border-radius: 5px;
    background-color: #08031A;
    height: 25px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}